.photoClass {
    padding: 10px;
    margin: 10px;
    width: 400px;
    border: 5px solid white;
}

.photoClass:hover{
    border: 1px solid #777;
}

.button{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.frame{
}



.container{
    position: relative;
    text-align: center;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.178);
    font-size: large;
}

.transparent {
    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
    opacity: 70%;
    transition-timing-function: ease-in-out;

}

.photoInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.textFont{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.likeBtn{
    height: 30px;
    padding: 0 30px;
    font-size: 15px;
    background-color: rgba(230, 167, 109, 0.788);
    border-radius: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

